* {
  box-sizing: border-box;
}

body {
  margin: 0;
  &.-is-fixed {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

.c-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  transition: .3s;  
  &[aria-hidden="true"] {
    opacity: 0;
    visibility: hidden;
  }  
}

.c-modal-inner {
  height: 90%;
  max-width: 1000px;
  overflow: hidden;
}


.c-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(#000,.3);
  width: 100%;
  height: 100%;
}

.c-modal-item {
  padding-top: 24px;
  position: relative;
  height: 100%;
  max-width: 1000px;
  // max-height: 100vh;
}

.c-modal-item__container {
  background: #fff;
  padding: 20px;
  height: 100%;
  overflow-y: scroll;  
  // height: 700px;
}

.c-modal-close {
  position: absolute;
  top: 0;
  right: 0;
}