<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <%- include('./include/_header'); %>
  <div class="l-wrapper" style="padding-bottom:100px;">
    <img src="assets/images/clouds-5481190_1920.jpg" alt="">
    <img src="assets/images/strawberries-528791_1920.jpg" alt="">
    <div style="margin-top:30px;">
      <p>モーダル①（コンテンツが長いver）<button class="js-modal-open c-modal-open" data-modal="modal01">こちらから</button></p>
      <p>モーダル②（コンテンツが短いver）<button class="js-modal-open c-modal-open" data-modal="modal02">こちらから</button></p>
    </div>
    <div class="c-modal-wrapper js-modal-item" id="modal01" aria-hidden="true">
      <div class="c-modal-inner js-modal-height">
        <div class="js-modal-close c-modal-overlay"></div>
        <div class="c-modal-item">
          <button class="js-modal-close c-modal-close">×</button>
          <div class="c-modal-item__container">
            <h2>モーダル①</h2>
            <p>最初の文章</p>
            <p style="margin-top:500px;">最後の文章</p>
          </div>
        </div>
      </div>
    </div>
    <div class="c-modal-wrapper js-modal-item" id="modal02" aria-hidden="true">
      <div class="c-modal-inner js-modal-height">
        <div class="js-modal-close c-modal-overlay"></div>
        <div class="c-modal-item">
          <button class="js-modal-close c-modal-close">×</button>
          <div class="c-modal-item__container">
            <h2>モーダル②</h2>
          </div>
        </div>        
      </div>
    </div>
  </div>
  <script src="assets/js/app.js"></script>
</body>
</html>